.openerp .mis_builder_ralign {
  text-align: right;
}

.openerp .mis_builder a {
  /* we don't want the link color, to respect user styles */
  color: inherit;
}

.openerp .mis_builder a:hover {
  /* underline links on hover to give a visual cue */
  text-decoration: underline;
}

.openerp .oe_mis_builder_buttons {
  padding-bottom: 10px;
}
