.o_web_client .mis_builder_amount {
  text-align: right;
}

.o_web_client .mis_builder_collabel {
  text-align: center;
}

.o_web_client .mis_builder_rowlabel {
  text-align: left;
}

.o_web_client .mis_builder a {
  /* we don't want the link color, to respect user styles */
  color: inherit;
}

.o_web_client .mis_builder a:hover {
  /* underline links on hover to give a visual cue */
  text-decoration: underline;
}

.odoo .oe_mis_builder_buttons {
  padding-bottom: 10px;
  padding-top: 10px;
}

.oe_mis_builder_content {
  padding: 10px;
}
